{% load static %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
    <link rel="stylesheet" type="text/css" href="/static/css/chart.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body class="body">
<h1 style="color: rgb(14, 23, 42);">Dashboard</h1>
<div class="overview-container">
    <div class="total-card-container">
        <div class="total-card-title">전체 가입자 수</div>
        <div class="total-card-count">{{total_users}}명</div>
    </div>
    <div class="monthly-card-container">
        <div class="monthly-card-title">2021년 월별 인입 통계</div>
        <figure class="highcharts-figure">
            <div id="container"/>
        </figure>
    </div>
</div>
<div class="incoming-card-container" id="incoming-card-margin">
    <div class="incoming-top-container">
        <div style="flex-direction: column;width: 100%;">
            <div class="incoming-card-title">이번 달</div>
            <div class="incoming-card-title">가입자</div>
        </div>
        {% if user_variance_of_monthly > 0 %}
        <img src="/static/img/increase.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-increase-color">{{user_variance_of_monthly}}%</div>
        {% elif user_variance_of_monthly < 0 %}
        <img src="/static/img/decrease.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-decrease-color">{{user_variance_of_monthly}}%</div>
        {% else %}
        <div class="incoming-top-text">{{user_variance_of_monthly}}%</div>
        {% endif %}
    </div>
    <div class="incoming-bottom-container">
        <div class="incoming-card-count">{{monthly_of_users}}명</div>
        {% if user_variance_of_monthly > 0 %}
        <img src="/static/img/increase.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-increase-color">{{user_variance_of_monthly}}%</div>
        {% elif user_variance_of_monthly < 0 %}
        <img src="/static/img/decrease.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-decrease-color">{{user_variance_of_monthly}}%</div>
        {% else %}
        <div class="incoming-bottom-text">{{user_variance_of_monthly}}%</div>
        {% endif %}
    </div>
</div>
<div class="incoming-card-container" id="incoming-card-margin">
    <div class="incoming-top-container">
        <div style="flex-direction: column;width: 100%;">
            <div class="incoming-card-title">오늘</div>
            <div class="incoming-card-title">가입자</div>
        </div>
        {% if user_variance_of_daily > 0 %}
        <img src="/static/img/increase.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-increase-color">{{user_variance_of_daily}}%</div>
        {% elif user_variance_of_daily < 0 %}
        <img src="/static/img/decrease.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-decrease-color">{{user_variance_of_daily}}%</div>
        {% else %}
        <div class="incoming-top-text">{{user_variance_of_daily}}%</div>
        {% endif %}
    </div>
    <div class="incoming-bottom-container">
        <div class="incoming-card-count">{{daily_of_users}}명</div>
        {% if user_variance_of_daily > 0 %}
        <img src="/static/img/increase.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-increase-color">{{user_variance_of_daily}}%</div>
        {% elif user_variance_of_daily < 0 %}
        <img src="/static/img/decrease.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-decrease-color">{{user_variance_of_daily}}%</div>
        {% else %}
        <div class="incoming-bottom-text">{{user_variance_of_daily}}%</div>
        {% endif %}
    </div>
</div>
<div class="incoming-card-container" id="incoming-card-margin">
    <div class="incoming-top-container">
        <div style="flex-direction: column;width: 100%;">
            <div class="incoming-card-title">이번 달</div>
            <div class="incoming-card-title">가계부</div>
        </div>
        {% if transaction_variance_of_monthly > 0 %}
        <img src="/static/img/increase.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-increase-color">{{transaction_variance_of_monthly}}%</div>
        {% elif transaction_variance_of_monthly < 0 %}
        <img src="/static/img/decrease.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-decrease-color">{{transaction_variance_of_monthly}}%</div>
        {% else %}
        <div class="incoming-top-text">{{transaction_variance_of_monthly}}%</div>
        {% endif %}
    </div>
    <div class="incoming-bottom-container">
        <div class="incoming-card-count">{{monthly_of_transactions}}건</div>
        {% if transaction_variance_of_monthly > 0 %}
        <img src="/static/img/increase.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-increase-color">{{transaction_variance_of_monthly}}%</div>
        {% elif transaction_variance_of_monthly < 0 %}
        <img src="/static/img/decrease.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-decrease-color">{{transaction_variance_of_monthly}}%</div>
        {% else %}
        <div class="incoming-bottom-text">{{transaction_variance_of_monthly}}%</div>
        {% endif %}
    </div>
</div>
<div class="incoming-card-container">
    <div class="incoming-top-container">
        <div style="flex-direction: column;width: 100%;">
            <div class="incoming-card-title">오늘</div>
            <div class="incoming-card-title">가계부</div>
        </div>
        {% if transaction_variance_of_daily > 0 %}
        <img src="/static/img/increase.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-increase-color">{{transaction_variance_of_daily}}%</div>
        {% elif transaction_variance_of_daily < 0 %}
        <img src="/static/img/decrease.png" class="incoming-top-icon"/>
        <div class="incoming-top-text" id="incoming-decrease-color">{{transaction_variance_of_daily}}%</div>
        {% else %}
        <div class="incoming-top-text">{{transaction_variance_of_daily}}%</div>
        {% endif %}
    </div>
    <div class="incoming-bottom-container">
        <div class="incoming-card-count">{{daily_of_transactions}}건</div>
        {% if transaction_variance_of_daily > 0 %}
        <img src="/static/img/increase.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-increase-color">{{transaction_variance_of_daily}}%</div>
        {% elif transaction_variance_of_daily < 0 %}
        <img src="/static/img/decrease.png" class="incoming-bottom-icon"/>
        <div class="incoming-bottom-text" id="incoming-decrease-color">{{transaction_variance_of_daily}}%</div>
        {% else %}
        <div class="incoming-bottom-text">{{transaction_variance_of_daily}}%</div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var barColor = "#0e172a";
    var incoming_users = JSON.parse("{{ incoming_users|escapejs }}");
    var data = incoming_users.map((count, index) => {
        return {
            "name": index + 1,
            "y": count,
            "color": barColor
        }
    });

    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        accessibility: {
            announceNewData: {
                enabled: false
            }
        },
        xAxis: {
            type: 'category',
            gridLineColor: 'transparent'
        },
        yAxis: {
            title: {
                enabled: false
            },
            labels: {
                enabled: false
            },
            tickLength: 0,
            gridLineColor: 'transparent'
        },
        legend: {
            enabled: false
        },
        tooltip: {
            headerFormat: "",
            pointFormat: '<b>{point.y}명</b>'
        },
        exporting: {
            enabled: false
        },
        series: [
        {
            colorByPoint: false,
            data: data
        }
    ],
    });
</script>
</body>

</html>