<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style type="text/css">
		html, body {
			max-width: 100%;
			overflow-x: hidden;
		}
	</style>
</head>
<body>
	<br>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">Logger</h4>
  		<hr>
  		<a href='https://github.com/orhanobut/logger'>https://github.com/orhanobut/logger</a><br>
  		Copyright 2018 Orhan Obut<br>
  		<span class="badge rounded-pill bg-primary">Apache License 2.0</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">Kakao SDK</h4>
  		<hr>
  		<a href='https://developers.kakao.com/docs/latest/ko/sdk-download/android-v1'>https://developers.kakao.com/docs/latest/ko/sdk-download/android-v1</a><br>
  		Copyright © Kakao Corp<br>
  		<span class="badge rounded-pill bg-primary">Apache License 2.0</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">Lottie</h4>
  		<hr>
  		<a href='https://github.com/airbnb/lottie-android'>https://github.com/airbnb/lottie-android</a><br>
  		Copyright 2018 Airbnb, Inc.<br>
  		<span class="badge rounded-pill bg-primary">Apache License 2.0</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">MPAndroidChart</h4>
  		<hr>
  		<a href='https://github.com/PhilJay/MPAndroidChart'>https://github.com/PhilJay/MPAndroidChart</a><br>
  		Copyright 2020 Philipp Jahoda<br>
  		<span class="badge rounded-pill bg-primary">Apache License 2.0</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">Circular-Progress-View</h4>
  		<hr>
  		<a href='https://github.com/VaibhavLakhera/Circular-Progress-View'>https://github.com/VaibhavLakhera/Circular-Progress-View</a><br>
  		Copyright (c) 2018 Vaibhav Lakhera<br>
  		<span class="badge rounded-pill bg-warning text-dark">MIT License</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">AnimatedBottomBar</h4>
  		<hr>
  		<a href='https://github.com/Droppers/AnimatedBottomBar'>https://github.com/Droppers/AnimatedBottomBar</a><br>
  		Copyright (c) 2020 Joery Droppers<br>
  		<span class="badge rounded-pill bg-warning text-dark">MIT License</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">spark</h4>
  		<hr>
  		<a href='https://github.com/robinhood/spark'>https://github.com/robinhood/spark</a><br>
  		Copyright 2016 Robinhood Markets, Inc.<br>
  		<span class="badge rounded-pill bg-primary">Apache License 2.0</span>
	</div>
	<div class="alert alert-success" role="alert">
  		<h4 class="alert-heading">SkeletonLayout</h4>
  		<hr>
  		<a href='https://github.com/Faltenreich/SkeletonLayout'>https://github.com/Faltenreich/SkeletonLayout</a><br>
  		Copyright 2020 Philipp Fahlteich<br>
  		<span class="badge rounded-pill bg-primary">Apache License 2.0</span>
	</div>
</body>
</html>